In [1]:
data = [["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Milk","Apple","Kidney Beans","Eggs"],
       ["Milk","Unicorn","Corn","Kidney Beans","Yogurt"],
       ["Corn","Onion","Onion","Kidney Beans","Ice Cream","Eggs"]]

In [2]:
display(data)

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

# Transform raw data into Machine Learning data format

Preprocessing start

In [15]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [20]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [21]:
te.columns_

['Apple',
 'Corn',
 'Dill',
 'Eggs',
 'Ice Cream',
 'Kidney Beans',
 'Milk',
 'Nutmeg',
 'Onion',
 'Unicorn',
 'Yogurt']

In [27]:
data = pd.DataFrame(te_ary, columns=te.columns_)
# ["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"]
# ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"]

In [29]:
data

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

# Endpreprocess
Now apply FPGrowth

In [31]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(data, min_support=0.6)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [32]:
rec1 = fpgrowth(data, min_support=0.6, use_colnames=True)
rec1

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Eggs, Kidney Beans)
10      0.6         (Kidney Beans, Milk)

In [34]:
purchase_item = "Onion"

rec1 = fpgrowth(data, min_support=0.6, use_colnames=True)
rec1['itemsets'] = rec1['itemsets'].apply(str)
rec1[rec1['itemsets'].str.contains(purchase_item)]

   support                                      itemsets
3      0.6                          frozenset({'Onion'})
7      0.6                  frozenset({'Onion', 'Eggs'})
8      0.6          frozenset({'Onion', 'Kidney Beans'})
9      0.6  frozenset({'Onion', 'Eggs', 'Kidney Beans'})